---
layout: home
---

{% include _login_modal.html %}

<div id="home-full-width">
	<div class="container">
		{% include _nav.html %}
	</div>

	<div class="jumbotron">
		<div class="container">
			<h1 class="text-center">
				<a href="/">
					<img src="/images/buzzkillrubber-logo.png" id="logo">
				</a>
			</h1>
		</div>
	</div>
</div>

<div class="container">

	<div class="row">
		
		<div id="home-form" class="col-md-4 col-md-push-8 col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Get Started Here</h3>
				</div>
				<div class="panel-body">
					{% include _home_form.html %}
				</div>
			</div>
		</div>
		<div class="col-md-8 col-md-pull-4 col-sm-6">
			<p class="lead">Some important information about BuzzKill Rubber. Our Facebook fans get a 10% discount on their first order.</p>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<a href="#" class="btn btn-lg btn-facebook btn-block">
						<i class="fa fa-fw fa-facebook-square"></i> Sign up today!
					</a><br>
				</div>
			</div>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>

	</div>

</div>

<div class="parallax jumbotron" style="background-image: url('/images/parallax-2.jpg');">
	<div class="contianer">
		<h1>&nbsp;</h1>
		<h2 class="text-center">{{ site.description }}</h2>
		<h1>&nbsp;</h1>
	</div>
</div>

<div class="container">

	<div></div>

	
	<div class="row">
		{% for icon in site.data.icons %}	
		<div class="col-sm-6 col-md-4">
			<div class="well">
				<div class="media">
					<span class="media-left">
						<i class="fa fa-fw fa-4x fa-{{icon.icon}}"></i>
					</span>
					<div class="media-body">
						<h4 class="media-heading">{{icon.title}}</h4>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt. <a href="#">Learn More.</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

</div>
